* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
}

.container {
    perspective: 1000px;
    perspective-origin: 100% 100%;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotateCube 6s linear infinite;
}
@keyframes rotateCube {
    to {
        transform: rotateX(0) rotateY(360deg) rotateZ(360deg);
    }
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #09adc8, #001f4e);
    opacity: 0.9;
}

.front {
    transform: translateZ(100px);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}